body {
    width:100%;
    height:100%;

    background-color:blue;
}

.header {
    width:90%;
    height:5%;
    background-color:red;			

    position:absolute;
    top:0;
    left:5%;
}

.footer {
    width:90%;
    height:5%;
    background-color:green;

    position:absolute;
    bottom:0;
    left:5%;
}

.left_column {
    width:5%;
    height:90%;
    background-color:orange;

    position:absolute;
    top:5%;			
    left:0;
}

.content{
     width:90%;
    height:90%;
    background-color:greenyellow;

    position:absolute;
    top:5%;			
    left:0;
}

.right_column {
    width:5%;
    height:90%;
    background-color:orange;

    position:absolute;
    top:5%;			
    right:0;
}

.tl_corner {
    width:5%;
    height:5%;
    background-color:grey;

    position:absolute;
    top:0;			
    left:0;		
}
.tr_corner {
    width:5%;
    height:5%;
    background-color:grey;

    position:absolute;
    top:0;			
    right:0;		
}
.bl_corner {
    width:5%;
    height:5%;
    background-color:grey;

    position:absolute;
    bottom:0;			
    left:0;		
}		
.br_corner {
    width:5%;
    height:5%;
    background-color:grey;

    position:absolute;
    bottom:0;			
    right:0;		
}